.recipe-section {
  padding: 10px 12px;
  --sec-underline-color: rgb(229,231,235);
  --list-annonate-bg-color: black;
  --list-annonate-color: white;
  --checkbox-bg-color: white;
  --checkbox-border-color: black;
  --checkbox-checked-bg-color: black;
  --checkbox-checked-color: #34b93d;
  --checkbox-height: 20px;
}

.sec-m-header {
  font-size: 1.6rem;
  font-weight: bold;

}

.sec-sub-heading-1::after,
.sec-m-header::after {
  display: block;
  height: 1px;
  content: " ";
  width: 100%;
  margin-top: 4px;
  background-color: var(--sec-underline-color);
}

.sec-sub-heading-1 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 14px 12px;

}

.sec-list {
  padding: 6px 16px;
  list-style: none outside;

  >li {
    margin: 4px;
    padding: 8px 0px;
    line-height: 1.4rem;
    font-size: 1.2rem;

    border-bottom: 1px solid var(--sec-underline-color);

    >div {
      flex: 1;
    }
  }

}

.sec-order-list {
  /*list-style: decimal outside; */
  counter-reset: orderlist;

  >li {
    display: list-item;
    position: relative;
    margin-left: 50px;
  }

  >li::before {
    left: -42px;
    position: absolute;
    counter-increment: orderlist;
    content: counter(orderlist);
    height: 24px;
    width: 24px;
    margin: 2px 8px;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background-color: var(--list-annonate-bg-color);
    color: var(--list-annonate-color);

  }
}
.ingredient-item input[type="checkbox"] {
  appearance: none;
}

.ingredient-item {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid var(--sec-underline-color);
}
.ingredient-checkbox {
  margin-right: 10px;
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: var(--checkbox-bg-color);
  border: calc(var(--checkbox-height)*0.15) solid var(--checkbox-border-color);
  border-radius: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: border-color ease 0.2s;
}
.ingredient-checkbox::after,
.ingredient-checkbox::before {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.2);
  background-color: var(--checkbox-checked-color);
  display: inline-block;
  border-radius: 5px;
  content: " ";
  transform-origin: left top;
  transition: opacity ease 0.5;
}
.ingredient-checkbox::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  transform: rotate(-135deg);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--checkbox-bg-color);
}
.ingredient-checkbox::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  transform: rotate(-45deg);
}
.ingredient-checkbox:checked {
  border-color: var(--checkbox-checked-color);

}

.ingredient-checkbox:checked:after {
 animation: bottomcheckanim 0.4s ease-in-out 0s forwards;
}
.ingredient-checkbox:checked:before {
 animation: topcheckanim 0.4s ease-in-out 0s forwards;
}

.ingredient-checkbox + label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  &::before{
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--checkbox-border-color);
    top: 50%;
    left: 0;
    content: " ";
    z-index: -1;
  }
}
.ingredient-checkbox:checked + label {
  opacity: 0.8; 
  &::before {
    opacity: 0.7;
  animation: linedraw 0.3s ease-in-out 0.1s forwards;
}
}
.nutrition-item {
  display: flex;
  align-items: center;
  justify-items: center;
  border-top: 1px solid black;
}
.nutrition-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.nutrition-value {
  font-size: 10px;
  font-weight:lighter;
  padding: 0px 4px;
}
.nutrition-percent {
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  margin-left: auto;
}
.nutrition-big-line {
  height: 12px;
  width: 100%;
  background-color: black;
}
.nutrition-small-line{
  height: 8px;
  width: 100%;
  background-color: black;
}
.sub-item {
  margin-left: 12px;
}

.rating {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}
/* .rating::after{
  content: "Rate this recipe";
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
  display: inline;
} */
.rating > input {
  display: none;
}
.rating >label {
  position: relative;
  cursor: pointer;
  font-size: 3rem;
  color: #FFD700;
  width: .7em;
}
.rating >label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating >label:hover:before,
.rating >label:hover ~ label:before {
  opacity: 1 !important;
}
.rating >input:checked ~ label:before {
  opacity: 1;
}
.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
.comment-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 50vw; 
  min-width: 300px;
  margin: 0 auto;
}
.comment-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 8px;
}
.comment-form > input {
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
}
.comment-form > textarea {
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  min-height: 150px;
}

.recipe-post-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 50vw; 
  min-width: 300px;
  margin: 0 auto;
  & input {
    padding: 8px;
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  & textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 8px;
    min-height: 150px;
  }
  & label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 8px;
  }
  > fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    & legend {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

@keyframes linedraw {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
  
}

@keyframes bottomcheckanim {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes topcheckanim {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}